
h1, h2, h3{
    line-height: 1.2;
}
header{
    & > .container{
            text-align: center;
            margin-bottom: 2em;
            .logo{
                & > a img {
                    width: 10em;
                    height: 2em;
                    margin: 0.8em auto 0.5em;
                }
            }
            .location__paris{
                padding: 10px;
                margin-top: 0.2em;
            }
            .book__menu{
                line-height: 4;
                padding: 30px 0px 40px 0px;
            }
    }
    & h1{
        margin-left: 20px;
        font-size: 22px;
    }
    & > nav{
        margin: 1.5em 0 1em;
        line-height: 3;
        p{
            width: 20em;
            margin: 14px 20px;
            border-radius: 20px 20px;
            box-shadow: 2px 1px 6px 2px rgb(226, 226, 226);
        }
    }
} 
main{
    margin-top: 2em;
    padding: 2em 0 0 2em;
}
footer{
    padding-left: 20px;
    & > h2{
        line-height: 2;
        font-size: 18px;
    }
    ul > li{
        line-height: 1.5;
        font-size: 14px;
    }
}