.book__menu{
    display: flex;
    justify-content: center;
    padding: 0 0 20px 0;
    button{
        border: none;
        width: 200px;
        height: 50px;
        background-image: linear-gradient(350deg, #612e9e, rgb(250, 79, 230));
        border-radius: 44px;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
    }
    button:hover{
        box-shadow: 0px 0px 2px 2px #fb79f5;
    }
}