main{
    //@include style($background);
    //$background: $navcolor;
    font-family: 'roboto';
    margin-top: 8em;
    padding-bottom: 40px;
    background: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    & > h1{
        font-weight: bold;
        font-size: 24px;
        position: absolute;
        top: 23.5em;
        left: 10em;
    }
    & > .home__images{
        display: flex;
        flex-wrap: wrap;        
        justify-content: space-evenly;
        width: 68em;
        & > .img__container{
            margin-top: 70px;
            border-radius: 18px 18px 18px 18px;
            box-shadow: 0px 1.5px 1px 1px #b4b3b3;
            //$background: $textcolor;
            //@include imgcontainer;
            .new__resto{
               position: absolute;
                left: 36em;
                margin-top: 10px;
                background: rgb(117, 247, 203);
                color: rgb(1, 131, 87);
                padding: 6px 10px;
                width: 70px;
                text-align: center;
            }
            .new__resto2{
                position: absolute;
                 left: 66.5em;
                 margin-top: 10px;
                 background: rgb(117, 247, 203);
                 color: rgb(1, 131, 87);
                 padding: 6px 10px;
                 width: 70px;
                 text-align: center;
             }
        //    .new__resto3{
        //        position: absolute;
        //         left: 36em;
        //         margin-top: 10px;
        //         background: rgb(117, 247, 203);
        //         color: rgb(1, 131, 87);
        //         padding: 6px 10px;
        //         width: 70px;
        //         text-align: center;
        //     }
        //     .new__resto4{
        //        position: absolute;
        //         left: 36em;
        //         margin-top: 10px;
        //         background: rgb(117, 247, 203);
        //         color: rgb(1, 131, 87);
        //         padding: 6px 10px;
        //         width: 70px;
        //         text-align: center;
        //     }
            & div{
                margin: 0 10px 14px; 
                & h3{
                    
                line-height: 2;
                font-weight: bold;
                }
            }
            & .font__aw{
                position: absolute;
                left: 41em;
                margin-top: -43px;
                color: rgb(120, 120, 120);
                cursor: pointer;
                .fa{
                    display: none;
                    position: inherit;
                    top: 1px;
                }
                .far:hover + .fa{
                    display: block;
                    color: #9356DC;
                }
                
            }
            & .font__aw2{
                position: absolute;
                left: 71.5em;
                margin-top: -43px;
                color: rgb(120, 120, 120);
                cursor: pointer;
                .fa{
                    display: none;
                    position: inherit;
                    top: 1px;
                }
                .far:hover + .fa{
                    display: block;
                    color: #9356DC;
                }
            }
            a img{
                @include image();
                border-radius: 18px 18px 0px 0px;
            }
        }
    }
}