main{
    font-family: 'roboto';
    padding-bottom: 40px;
    background: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    & > .home__images{
        display: flex;
        flex-wrap: wrap;        
        justify-content: space-evenly;
        width: 68em;
        h1{
            position: absolute;
            margin-top: 14px;
            text-align: center;
            font-weight: bold;
            font-size: 24px;
        }
        & > .img__container{
            display: flex;
            flex-direction: column;
            margin-top: 70px;
            border-radius: 18px 18px 18px 18px;
            box-shadow: 0px 1.5px 1px 1px #b4b3b3;
            .new__resto{
                position: absolute;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 0.5em 15.8em;
                background: rgb(117, 247, 203);
                color: rgb(1, 131, 87);
                padding: 6px 10px;
                width: 70px;
                text-align: center;
            }
            & div{
                margin: 0 10px 14px; 
                & h3{ 
                line-height: 2;
                font-weight: bold;
                }
            }
            & .font__aw{
                position: absolute;
                display: flex;
                flex-wrap: wrap;
                margin: 19.5em 20em;
                color: rgb(120, 120, 120);
                cursor: pointer;
                .fa{
                    display: none;
                    position: inherit;
                    top: 1px;
                }
                .far:hover + .fa{
                    display: block;
                    color: #9356DC;
                }
            }
        }
            a img{
                width: 24em;
                height: 18em;
                border-radius: 18px 18px 0px 0px;
            }
    }
}