.img__menu{
    position: relative;
    display: flex;
   img{
    width: 100%;
    height: 24em;
    background-size: cover;
   }
}
header{
    .container{
        .logo{
            a{
                .fa{
                    position: relative;
                    left: -24em;
                    top: -1em;
                    font-size: 20px;
                }
            }
        }
    }
}
.title__page{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: 'roboto';
    & > .font__aw2{
        display: none;
        position: absolute;
        flex-wrap: wrap;
        bottom: 30px;
        color: rgb(120, 120, 120);
        cursor: pointer;
        .fa{
            display: none;
            position: inherit;
            top: 1px;
        }
        .far:hover + .fa{
            display: block;
            color: #9356DC;
        }
        /* Extra small devices (phones, 600px and down) */
        @media only screen and (max-width: 600px) {
            display: block;
        }
        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
            display: block;
        }
       /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            display: none;
        }
    }
}
.container__page{
    border-radius: 24px 24px 0 0;
    position: relative;
    //bottom: 300px;
    margin-top: -4em;
    padding: 1em 0;
    background: #fff;
    .menu__page{
        margin-top: 40px;
        font-family: 'roboto';
        & > .menu__title, .menu__title--two{
            text-align: center;
            font-weight: bold;
            margin-bottom: 40px;
        }
        .align__container, .align__container--two, .align__container--three{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            & > .plat__one{
                display: flex;
                background: #fff;
                border-radius: 16px;
                box-shadow: 2px 1px 6px 2px rgb(226, 226, 226);
                box-shadow: 2px 1px 6px 2px rgb(211, 211, 211);
                margin: 20px;
                padding: 10px 14px;
                width: 21em;
                line-height: 1.5;
                cursor: pointer;
                //Part for animation
                position: relative;
                animation: actionSegundo;
                animation-duration: 1.5s;
                animation-fill-mode: forwards;
                opacity: 0;
                @keyframes actionSegundo{
                    0%{
                        bottom: 0px;
                    }
                    100%{
                        bottom: 26px;
                        opacity: 1;
                    }
                }
                & > div:hover{
                    .cut__text { 
                        text-overflow: ellipsis;
                        overflow: hidden; 
                        width: 686px; 
                        height: 1.4em; 
                        white-space: nowrap;
                    }
                }
                & > div{
                    h3{
                        font-weight: bold;
                        font-size: 16px;
                        padding-right: 10px;
                    }
                }
                & > .price{
                    position: absolute;
                    display: inherit;
                    justify-content: space-between;
                    margin: 1.3em 18.6em;
                    font-weight: bold;
                    padding: 2px;
                    text-overflow: ellipsis;
                    overflow: hidden;  
                    white-space: nowrap;
                }
                &:hover{
                    .cut-text--all{
                        margin-left: 16.2em;
                    }
                }
                //For long text
                .cut-text { 
                    text-overflow: ellipsis;
                    overflow: hidden; 
                    width: 17em; 
                    height: 1.2em; 
                    white-space: nowrap;
                }
                //When you over Fried egg
                &:hover{
                    .cut-text { 
                        width: 15.8em;
                    }
                } 
                & > .animated__fa{
                    position: absolute;
                    display: inherit;
                    justify-content: space-between;
                    margin: -0.7em 18.5em;
                    height: 4.4em;
                    border-radius: 0 14px 14px 0;
                    background: rgb(83, 229, 195);
                    opacity: 0;
                //This is for the background of the check mark
                    & > .fas{
                        margin: 21px 17px;
                        background: #fff;
                        color: rgb(51, 255, 0);
                        border: 1px solid rgb(255, 255, 255);
                        border-radius: 50%;
                        height: 17px;
                        padding: 4px;
                    }
                }
            }
             //This is for to appear the check mark
            .plat__one:hover .animated__fa{
                opacity: 1;
                transition-property: width;
                animation: slideToLeft 0.3s forwards;
                width: 4em;
            }
            @keyframes slideToLeft{
                from {
                    clip-path: inset(0 0 0 100%);
                }
                to {
                    clip-path: inset(0 0 0 0);
                }
            }
            //this is for the rotation of the check mark
            .plat__one:hover .animated__fa .fas{
                animation: rotating 320ms;
            }
            // Here the check mark transformation
            @keyframes rotating{
                0%{
                    transform: rotate(-160deg);
                }
                100%{
                    transform: rotate(0deg);
                }
            }
        }    
    }
}