footer{
    background: rgb(70, 70, 70);
    padding: 2em;    
    color: #fff;
    & > h4{
    //    position: absolute;
        font-family: 'shrikhand';
        text-align: center;
        @media screen and (min-width: 600px) {
            text-align: left;
        }
        @media screen and (min-width: 768px) {
            text-align: center;
        }
    }
    & > ul{
        display: flex;
        flex-basis: 100%;        
        justify-content: space-evenly;
        margin-top: 1em;
        @media screen and (min-width: 600px) {
            display: inherit;
            flex-direction: column;
            justify-content: flex-start;
        }
        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            flex-basis: 100%;        
            justify-content: space-evenly;
        }
        & > li{
            padding: 1em;
            cursor: pointer;
            @media screen and (min-width: 600px) {
                margin: 0.2em;
                padding: 0.2em;
            }
        }
    }
}