#preloader{
    position: fixed;
    left: 45%;
    top: 40%;
    border: 14px solid #f3f3f3;
    border-radius: 50%;
    border-top: 14px solid #9356DC;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    animation-delay: 30s;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    50% { border-top: 12px solid #FF79DA;
        border: 18px solid #f3f3f3; }
    100% { transform: rotate(360deg); }
  }
header{
    //@include style($bookmenu);
    font-family: 'roboto'; 
   & > .container{
            text-align: center;
            margin-bottom: 2em;
            .logo{
                box-shadow: 0 2px 3px 0 #b4b4b4;
                & > a img {
                    width: 10em;
                    height: 2em;
                    margin: 0.8em auto 0.5em;
                    cursor: default;
                }
            }
            & a{
                
                text-decoration: none;
                .location__paris{
                    padding: 10px;
                    margin-top: 0.2em;
                    font-weight: bold;
                    background: #e9e9e9;
                    color: #3b3b3b;
                }
            }
            .book__menu{
                line-height: 4;
                padding: 30px 0px 40px 0px;
                @include backGround();
                //background: rgb(247, 244, 244);
                & > p{
                    margin: 0 14em;
                    line-height: 1.2;
                    color: #6b6b6b;
                }
                & > button{
                    margin-top: 20px;
                    border: none;
                    width: 200px;
                    height: 50px;
                    background-image: linear-gradient(350deg, #612e9e, rgb(250, 79, 230));
                    border-radius: 44px;
                    color: #fff;
                    font-size: 14px;
                    cursor: pointer;
                }
                button:hover{
                    box-shadow: 0px 0px 2px 2px #fb79f5;
                }
            }
    }
    & h1{
        margin: 0 240px 10px;
        font-size: 22px;
        font-weight: bold;
    }
    & > nav{
        display: flex;
        flex-wrap: wrap;
        margin: 0em 14em;
        line-height: 3;
        font-weight: bold;
        position: absolute;
//        opacity: 100;
//        animation-name: fadeInOpa;
//        animation-iteration-count: 1;
//        animation-duration: 3s;        
//        animation-timing-function: ease;
        .anim__fa{
            width: 17em;
            padding: 6px;
            margin: 14px 20px;
            padding-left: 34px;
            border-radius: 20px 20px;
            box-shadow: 2px 1px 6px 2px rgb(226, 226, 226);
            color: rgb(9, 9, 9);
            cursor: pointer;
        }
        .fa{
            margin-right: 20px;
        }
        .circle__container{
            display: flex;
            position: absolute;
            top: 30px;
            .circle__one{
                top: 32px;
                margin-left: 10px;
                width: 23px;
                height: 23px;
                border-radius: 50%;
                background: #9356DC;
                color: #fff;
            }
            .circle__two{
                top: 107px;
                margin-left: 20.4em;
                width: 23px;
                height: 23px;
                border-radius: 50%;
                background: #9356DC;
                color: #fff;
            }
            .circle__three{
                top: 179px;
                margin-left: 20.5em;
                width: 23px;
                height: 23px;
                border-radius: 50%;
                background: #9356DC;
                color: #fff;
            }
            .number{
                margin-left: 7px;
                margin-top: -12px;
                font-weight: normal;
            }
        }       
        .anim__fa:hover{
            background: #faf1fe;
        }
    }
}